<div class="language__item">
  <label class="language__button">
    <input type="radio" name="language" />
    <div class="checkbox__checkmark"></div>
    <div class="language__text"><%= text %></div>
  </label>
</div>
