<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('head.ejs') %>
    <title>Contract and Interaction</title>
  </head>
  <body>
    <div class="contract">
      <div class="contract__address"></div>
      <div class="contract__balance"></div>
    </div>
    <%- include('seperator.ejs',{text: "Functions"}) %>

    <div class="functions"></div>

    <%- include('seperator.ejs',{text: "Results"}) %>
    <div class="result">
      <div class="result__info">
        <div class="result__info-title">
          <i class="fas fa-check-circle" style="color: #76fc64"></i>
          <div class="result__info-tx-hash">0x123123123123123123</div>
          <i class="fa fa-chevron-down"></i>
        </div>
        <div class="result__info-data">
          <div class="result__info-from">
            <div>from</div>
            <div>:</div>
            <div>0xdacb6aa0ca6147c8a13d78a13c294c70a389b427</div>
          </div>
          <div class="result__info-to">
            <div>to</div>
            <div>:</div>
            <div>0xdacb6aa0ca6147c8a13d78a13c294c70a389b427</div>
          </div>
          <div class="result__info-gas-amount-spent">
            <div>gas amount spent(totalgas x gas price)</div>
            <div>:</div>
            <div>1000000</div>
          </div>
          <div class="result__info-gas-total-spent">
            <div>gas total spent</div>
            <div>:</div>
            <div>10000</div>
          </div>
          <div class="result__info-gas-executedGasUsed">
            <div>executed gas used</div>
            <div>:</div>
            <div>10000</div>
          </div>
          <div class="result__info-input">
            <div>input</div>
            <div>:</div>
            <div></div>
          </div>
          <div class="result__info-output">
            <div>output</div>
            <div>:</div>
          </div>
        </div>
      </div>
      <div class="result__info">
        <div class="result__info-title">
          <i class="fas fa-check-circle" style="color: #76fc64"></i>
          <div class="result__info-tx-hash">0x123123123123123123</div>
          <i class="fa fa-chevron-down"></i>
        </div>
        <div class="result__info-data">
          <div class="result__info-from">
            <div>from</div>
            <div>:</div>
            <div>0xdacb6aa0ca6147c8a13d78a13c294c70a389b427</div>
          </div>
          <div class="result__info-to">
            <div>to</div>
            <div>:</div>
            <div>0xdacb6aa0ca6147c8a13d78a13c294c70a389b427</div>
          </div>
          <div class="result__info-gas-amount-spent">
            <div>gas amount spent(totalgas x gas price)</div>
            <div>:</div>
            <div>1000000</div>
          </div>
          <div class="result__info-gas-total-spent">
            <div>gas total spent</div>
            <div>:</div>
            <div>10000</div>
          </div>
          <div class="result__info-gas-executedGasUsed">
            <div>executed gas used</div>
            <div>:</div>
            <div>10000</div>
          </div>
          <div class="result__info-input">
            <div>input</div>
            <div>:</div>
            <div></div>
          </div>
          <div class="result__info-output">
            <div>output</div>
            <div>:</div>
          </div>
        </div>
      </div>
      <div class="result__info">
        <div class="result__info-title">
          <i class="fas fa-check-circle" style="color: #76fc64"></i>
          <div class="result__info-tx-hash">0x123123123123123123</div>
          <i class="fa fa-chevron-down"></i>
        </div>
        <div class="result__info-data">
          <div class="result__info-from">
            <div>from</div>
            <div>:</div>
            <div>0xdacb6aa0ca6147c8a13d78a13c294c70a389b427</div>
          </div>
          <div class="result__info-to">
            <div>to</div>
            <div>:</div>
            <div>0xdacb6aa0ca6147c8a13d78a13c294c70a389b427</div>
          </div>
          <div class="result__info-gas-amount-spent">
            <div>gas amount spent(totalgas x gas price)</div>
            <div>:</div>
            <div>1000000</div>
          </div>
          <div class="result__info-gas-total-spent">
            <div>gas total spent</div>
            <div>:</div>
            <div>10000</div>
          </div>
          <div class="result__info-gas-executedGasUsed">
            <div>executed gas used</div>
            <div>:</div>
            <div>10000</div>
          </div>
          <div class="result__info-input">
            <div>input</div>
            <div>:</div>
            <div></div>
          </div>
          <div class="result__info-output">
            <div>output</div>
            <div>:</div>
          </div>
        </div>
      </div>
      <div class="result__info">
        <div class="result__info-title">
          <i class="fas fa-check-circle" style="color: #76fc64"></i>
          <div class="result__info-tx-hash">0x123123123123123123</div>
          <i class="fa fa-chevron-down"></i>
        </div>
        <div class="result__info-data">
          <div class="result__info-from">
            <div>from</div>
            <div>:</div>
            <div>0xdacb6aa0ca6147c8a13d78a13c294c70a389b427</div>
          </div>
          <div class="result__info-to">
            <div>to</div>
            <div>:</div>
            <div>0xdacb6aa0ca6147c8a13d78a13c294c70a389b427</div>
          </div>
          <div class="result__info-gas-amount-spent">
            <div>gas amount spent(totalgas x gas price)</div>
            <div>:</div>
            <div>1000000</div>
          </div>
          <div class="result__info-gas-total-spent">
            <div>gas total spent</div>
            <div>:</div>
            <div>10000</div>
          </div>
          <div class="result__info-gas-executedGasUsed">
            <div>executed gas used</div>
            <div>:</div>
            <div>10000</div>
          </div>
          <div class="result__info-input">
            <div>input</div>
            <div>:</div>
            <div></div>
          </div>
          <div class="result__info-output">
            <div>output</div>
            <div>:</div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <%-include('scripts.ejs') %>
  </body>
</html>
