<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('head.ejs') %>
    <title>Contract and Interaction</title>
  </head>
  <body>
    <div class="contract">
      <div class="contract__address"></div>
      <div class="contract__balance"></div>
    </div>
    <div class="functions"></div>
    <!-- SCRIPTS -->
    <%-include('scripts.ejs') %>
  </body>
</html>
