@import "./functions.css";

body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contract__address,
.contract__balance {
  font-size: 18px;
  font-weight: 600;
}

.result__info-title {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: fit-content;
  padding-bottom: 12px;
}

.result__info-title svg.fa-check-circle {
  style: #76fc64;
  font-size: 24px;
}

.result__info-tx-hash {
  flex: 1;
  text-align: start;
  font-size: 18px;
}

.result__info {
  white-space: pre-wrap;
}

.result__info-data {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  overflow: hidden;
}
.result__info-data > div {
  display: flex;
  column-gap: 12px;
}
.result__info-data > div > div:nth-child(3) {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result__info-data > div > div:nth-child(1) {
  min-width: 280px;
}

.result__info-data.hidden {
  display: none;
}
