<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('head.ejs') %>
    <link href="<%= styles.compile %>" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="compile">
      <select class="compile__sol-files"></select>
      <button class="compile__action button--primary">Compile</button>
    </div>
    <div class="compile-info">
      <button>ABI</button>
      <butotn>Bytecodes</butotn>
    </div>
    <script nonce="<%= nonce %>" src="<%= controllers.index %>"></script>
  </body>
</html>
