<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <div class="analysisResult">
      <iframe
        class="ifram"
        src="http://localhost:8502"
        frameborder="0"
        width="100%"
        height="900vh"
      ></iframe>
    </div>
  </body>
</html>
