<div class="compile">
  <select class="compile__files"></select>
  <button class="compile__run">Compile</button>
  <div class="compile__info">
    <div class="compile__info-abi">
      <i class="fas fa-code"></i>
      ABI
    </div>
    <div class="compile__info-bytecodes">
      <i class="far fa-file-code"></i>
      Bytecodes
    </div>
  </div>
</div>
