<div class="deploy">
  <div class="deploy__run">
    <button class="deploy__run-deploy">Deploy</button>
    <button class="deploy__run-show-arguments">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="deploy__arguments"></div>
</div>
