body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* COMPILE START */
.compile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.compile__run {
  background: var(--button-background-primary);
}

.compile__info {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.compile__info-abi,
.compile__info-bytecodes {
  cursor: pointer;
}

.compile__info i {
  font-size: 20px;
  color: #fff;
}
/* COMPILE END */

/* INTERACTION START */

.interaction {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.interaction > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.interaction__from-list {
  display: flex;
}

.interaction__from-list select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 55px;
}

.interaction__from-list button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;

  background: var(--button-background-primary);
  color: #fff;
  font-size: 18x;

  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.interaction__value-amount {
  display: flex;
}
.interaction__value input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.interaction__value select {
  width: 120px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* INTERACTION END */

/* DEPLOY START */
.deploy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.deploy__run {
  display: flex;
}

.deploy__run-deploy {
  background: var(--button-background-primary);

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.deploy__run-show-arguments {
  width: 40px;

  background: #fff;
  color: var(--button-background-primary);

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* DEPLOY END */
