body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

// Compile Start
.compile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.compile_files {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}

.compile__info {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.compile__info-abi,
.compile__info-bytecodes {
  cursor: pointer;
}

.compile__info i {
  font-size: 20px;
  color: #fff;
}
// Compile End

.interaction {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.interaction > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.from__select {
  display: flex;
}

.from__select select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 55px;
}

.from__copy-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;

  background: #1c64f2;
  color: #fff;
  font-size: 18x;

  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);

  cursor: pointer;
}
.from__copy-button:hover {
  opacity: 0.8;
}

.interaction__value div {
  display: flex;
  gap: 8px;
}
.interaction__value select {
  width: 120px;
}

.deploy__actions {
  display: flex;
}
.deploy__deploy {
  background: #1c64f2;

  border-radius: 0;
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}

.deploy__show-arguments {
  width: 40px;

  background: #f9fafb;
  color: #2b2b2b;

  border-radius: 0;
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}

.arguments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0;
}
.arguments.hidden {
  display: none;
}
.argument {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 4px;
}
.argument__info {
  width: 100px;
}
